<!DOCTYPE html>
<html>
  <head>
    <title>sloane.sh</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
      </nav>
    </header>
    <%= inner_content %>
  </body>
</html>
