<!DOCTYPE html>
<html class="m-4 flex flex-row justify-center">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sloane.sh | <%= attrs[:title] %></title>
    <link rel="stylesheet" href="/assets/app.css" />
  </head>
  <body class="w-full max-w-3xl bg-white text-black dark:bg-neutral-800 dark:text-neutral-100">
    <%= header(ctx, attrs) %>
    <main class="font-serif mt-6">
      <%= inner_content %>
    </main>
  </body>
</html>
