<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>
      
        “Uses This” - sloane.sh
      
    </title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="feed" type="text/html" href="/posts/">
    <link rel="dns-prefetch" href="https://webmention.io"><link rel="preconnect" href="https://webmention.io"><link rel="preconnect" href="ws://webmention.io:8080"><link rel="pingback" href="https://webmention.io/sloane.sh/xmlrpc"><link rel="webmention" href="https://webmention.io/sloane.sh/webmention">
  </head>
  <body>
    <article class="h-entry">
  <header>
    
      <h1 class="p-name">“Uses This”</h1>
    
    
  </header>

  <div class="e-content">
    <blockquote>
  <p><strong>Have you considered adding a <code class="language-plaintext highlighter-rouge">/uses/</code> page to your own site, answering the same questions?</strong>
- <a href="https://wafer.baby/@d">Daniel</a> of <a href="https://usesthis.com/">usesthis.com</a></p>
</blockquote>

<h2 id="who-are-you-and-what-do-you-do">Who are you, and what do you do?</h2>

<p>I’m a professional software engineer and once engineering manager. I work a day job but I’m also working with a good friend and former boss to bring <a href="https://screen.garden">screen.garden</a>, a real-time collaboration tool for PKMs and the web, to life.</p>

<p>In my free time I sing with a local queer TTBB chorus, play table-top RPGs, watch Formula 1, and play video games.</p>

<h2 id="what-hardware-do-you-use">What hardware do you use?</h2>

<p>I work atop a sit-stand desk I bought when I first started working remotely in 2017. It stays in the “sit” position 99% of the time. For work I use whatever machine my employer provides. Right now that’s a 14in M3 MacBook Pro. Personally, I have an M1 MacBook Air which I love. A single thunderbolt cable runs from either of those machines to a <a href="https://www.caldigit.com/thunderbolt-station-4/">CalDigit TS4</a> which connects it to power, ethernet, a USB hub, and my display.</p>

<p>I use just the one display, a <a href="https://www.gigabyte.com/Monitor/M32U">GIGABYTE M32U</a>, which is a 32 inch, 4k, 144Hz monitor. Whenever someone is talking about replacing their monitor I always bring up refresh rate. It’s one of those things that sounds like you wouldn’t notice but it actually makes looking at a screen for most of your day a lot more pleasant. I’ve sat a no-name-brand monitor light and a Logitech webcam atop it.</p>

<p>I have a collection of mechanical keyboards (<a href="https://ergodox-ez.com/">ErgoDox EZ</a>, <a href="https://shop.keyboard.io/products/keyboardio-atreus">Keyboardio Atreus</a>, to name a couple) which all live in a drawer while I type away on my <a href="https://www.gloriousgaming.com/products/glorious-gmmk-pro-75-barebone-black">Glorious GMMK Pro</a> with <a href="https://www.gloriousgaming.com/products/glorious-panda-mechanical-switches?variant=37691905933487">Glorious Panda tactile switches</a>. I think Glorious’s branding is a bit “cringe” to say the least but they were the only custom keyboard option I could get same-day at the nearby Micro Center when I needed to replace my <a href="https://drop.com/buy/vortex-poker-iii-compact-keyboard">Pok3r</a> following a coffee spill incident.</p>

<p>I talk to my coworkers and friends through a <a href="https://www.bestbuy.com/site/blue-microphones-blue-yeti-professional-multi-pattern-usb-condenser-microphone/9737441.p?skuId=9737441">Blue Yeti mic</a> that I bought when a former employer gave everyone a couple hundred dollars for work-from-home equipment in early 2020 (despite my having already worked from my home my entire tenure there).</p>

<p>At the edges of my desk are piles of scrunchies, a couple hair clips, my AirPods Pros, a pair of Sennheiser HD 600s, my iPhone 14 Pro Max (I always go “Max” or “Plus” for the extra battery life), an <a href="https://www.aquaphorus.com/products/lip-care/lip-repair-stick">Aquaphor lip balm stick</a>, some hand lotion, and a nice candle.</p>

<p>Away from my desk I have a collection of cameras but the one I use the most is my Leica M6 which I usually shoot with a Voigtlander Nokton Classic 35mm f/1.4. I digitize my negatives with a beat-up Sony a6000, a cheap macro lens, and a <a href="https://www.valoi.co/easy35">Valoi easy35</a>.</p>

<p>I have a couple Apple TV 4ks to stream content from the cloud and also the Plex Media Server running on a Synology NAS. I have a couple TVs in different rooms but the Xbox Series X stays connected to the 65 inch LG C1 OLED (once again which a high refresh rate).</p>

<p>Finally, currently sitting on my nightstand wrapped in some FiiO IEMs is a 5th iPod Classic (aka an iPod Video) whose hard disk I’ve <a href="https://www.iflash.xyz/">replaced with a 512gb microSD card</a>. It’s really incredible how well it still works.</p>

<h2 id="and-what-software">And what software?</h2>

<p>These days I’m macOS all-the-way. I’m fully integrated into the ecosystem and the ergonomics and reliability of development on the platform is unparalleled in my opinion. Obviously I use a ton of software so I’ll limit (mostly) to things I keep pinned to my dock (although most of the time I’m launching things from <a href="https://www.alfredapp.com/">Alfred</a>):</p>

<ul>
  <li><a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a> to browse the web</li>
  <li><a href="https://flexibits.com/fantastical">Fantastical</a> to manage several calendar accounts. I could just use Calendar.app but there are few features (like travel time and automatic event merging) that keep me renewing my subscription.</li>
  <li>Mail.app for emails…</li>
  <li><a href="https://culturedcode.com/things/">Things 3</a> makes sure I get things done. I switched from an Android phone to an iPhone many years ago just so I could use Things while I was away from my computer.</li>
  <li><a href="https://sw.kovidgoyal.net/kitty/">Kitty</a> to run all of my command line apps. I always work within a <code class="language-plaintext highlighter-rouge">tmux</code> session so my terminal emulator doesn’t really matter all that much (because I’m never using tabs or splits or whatever) but Kitty is quick and the <a href="https://github.com/DinkDonk/kitty-icon">alternative icon</a> I use for it is really cute. I’m a vim user (neovim really) and have been since 2015. My neovim setup could be its own post…</li>
  <li>Music - I switch between two libraries: 1. My local library which I sync with my iPod and 2. My iCloud, Apple Music backed library</li>
  <li><a href="https://kapeli.com/dash">Dash 6</a> (usually via Alfred) to quickly reference documentation. Elixir / Hex package docs support is incredible</li>
  <li><a href="https://obsidian.md">Obsidian</a> for personal, work, and TTRPG notes. I keep my plugins list slip with just Templater, DataView, Tasks, Periodic Notes, and of course screen.garden.</li>
  <li><a href="https://readwise.io/read">Readwise Reader</a> as my read-later service</li>
</ul>

<p>I have to shout-out Lightroom with <a href="https://www.negativelabpro.com/">Negative Lab Pro</a> for converting scans/photos of film negatives.</p>

<h2 id="what-would-be-your-dream-setup">What would be your dream setup?</h2>

<p>I’ve obviously spoiled myself already so I’d keep most things the same but…</p>

<p>I’d love a thunderbolt KVM of some kind that would let me swap <em>quickly</em> between machines at the press of a button. I also feel like I’d benefit from a larger desk.</p>

<p>I think about replacing my webcam with the Sony a6000 and replacing that with a newer, higher resolution mirrorless camera.</p>

<p>I’m really hoping the ARM desktop / server market continues to become more accessible to the consumer market because the Synology NAS is looking a little worse-for-wear these days. I’ve thought about replacing it with a custom build x64 machine but the additional power consumption and heat keep me from doing it (I’m spoiled by these Apple ARM machines…).</p>

  </div>

  <hr />

  <footer>
    <dl>
      <dt>Author</dt>
      <dd>
        <a class="p-author h-card" href="https://sloane.sh">sloane</a>
      </dd>

      <dt>Published</dt>
      <dd><time datetime="2024-03-09 00:00:00 +0000">March  9, 2024</time></dd>

      <!-- <dt>Category</dt> -->
      <!-- <dd> -->
      <!-- </dd> -->

      <!-- <dt>Tags</dt> -->
      <!-- <dd> -->
      <!--   <ul> -->
      <!--      -->
      <!--   </ul> -->
      <!-- </dd> -->
        
    </dl>
    <ul>
      
    </ul>

    <div class="webmentions">
  <p class="webmentions__not-found">No webmentions were found.</p>
</div>

    
  </footer>
</article>
<script src="/js/JekyllWebmentionIO.js" async></script>
<template style="display:none" id="webmention-bookmarks"><div class="webmentions webmentions--bookmarks">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="{{ webmention.author.url }}" rel="nofollow">{{ webmention.author.name }}</a>
            {% endif %}
            {% if webmention.pubdate and webmention.url %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No bookmarks were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-likes"><div class="webmentions webmentions--likes">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No likes were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-links"><div class="webmentions webmentions--links">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="{{ webmention.author.url }}" rel="nofollow">{{ webmention.author.name }}</a>
            {% endif %}
            {% if webmention.pubdate and webmention.url %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No links were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-posts"><div class="webmentions webmentions--posts">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <a class="webmention__title webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">{{ webmention.title }}</a>
          <div class="webmention__meta">
            {% if webmention.pubdate %}
              <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No posts were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-replies"><div class="webmentions webmentions--replies">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="{{ webmention.author.url }}" rel="nofollow">
                {% if webmention.author.photo %}
                  <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
                {% endif %}
                <b class="p-name">{{ webmention.author.name }}</b>
              </a>
            {% endif %}
            {% if webmention.pubdate and webmention.author %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No replies were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-reposts"><div class="webmentions webmentions--reposts">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No reposts were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-rsvps"><div class="webmentions webmentions--rsvps">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="Avatar for {{ webmention.author.name }}" title="{{ webmention.author.name }}">
              <b class="p-name">{{ webmention.author.name }}</b>
              {{ webmention.content }}
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No RSVPs were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-count">{% capture webmention_types %}{{ types | join: ',' }}{% endcapture %}
<span class="webmention-count"{% unless webmention_types=="" %} data-webmention-types="{{ webmention_types }}"{% endunless %}>{{ count }}</span></template><template style="display:none" id="webmention-webmentions">{% capture webmention_types %}{{ types | join: ',' }}{% endcapture %}
<div class="webmentions"{% unless webmention_types=="" %} data-webmention-types="{{ webmention_types }}"{% endunless %}>
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item">
          <article class="h-cite webmention webmention--{{ webmention.type }}
            {% unless webmention.author %}webmention--no-author{% endunless %}
            {% unless webmention.author.photo %}webmention--no-photo{% endunless %}
            {% if webmention.source=='twitter' %}{% if webmention.type=='like' or webmention.type=='repost' %}webmention--author-starts{% endif %}{% endif %}
            ">
            {% if webmention.author %}
              <div class="webmention__author p-author h-card">
                <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
                  {% if webmention.author.photo %}
                    <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
                  {% endif %}
                  <b class="p-name">{{ webmention.author.name }}</b>
                </a>
              </div>
            {% endif %}

            <div class="webmention__content p-content">
              {% if webmention.content %}
                {{ webmention.content }}
              {% else %}
                {{ webmention.title }}
              {% endif %}
            </div>
            
            <div class="webmention__meta">
              {% if webmention.pubdate %}
                <time class="webmention__pubdate dt-published"
                      datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              {% endif %}
              {% if webmention.pubdate and webmention.url %}|{% endif %}
              {% if webmention.url %}
                <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">Permalink</a>
              {% endif %}
            </div>
          </article>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No webmentions were found.</p>
  {% endif %}
</div></template>

  </body>
</html>
