<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>
      {% if page.title == site.title %}
        {{ page.title | smartify }}
      {% else %}
        {{ page.title | smartify }} - {{ site.title }}
      {% endif %}
    </title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="feed" type="text/html" href="/posts/">
  </head>
  <body>
    {{ content }}
  </body>
</html>
