---
layout: default
---

<article class="h-entry">
  {{ content }}

  <hr />

  <footer>
    <dl>
      <dt>Author</dt>
      <dd>
        <a class="p-author h-card" href="{{ site.author.url }}">{{ site.author.name }}</a>
      </dd>

      <dt>Published</dt>
      <dd><time datetime="{{ page.date }}">{{ page.date | date: "%B %e, %Y" }}</time></dd>

      <!-- <dt>Category</dt> -->
      <!-- <dd> -->
      <!-- </dd> -->

      <!-- <dt>Tags</dt> -->
      <!-- <dd> -->
      <!--   <ul> -->
      <!--     {% for tag in page.tags %} -->
      <!--       <li><a href= -->
      <!--     {% endfor %} -->
      <!--   </ul> -->
      <!-- </dd> -->
        
    </dl>
    <ul>
      {% for url in page.syndication %}
        <li><a class="u-syndication" href="{{ url }}">{{ url }}</a></li>
      {% endfor %}
    </ul>

    {% webmentions page.url %}

    {% for target in page.syndicate_to %}
      <a href="{{ site.webmentions.syndication[target].endpoint }}"></a>
    {% endfor %}
  </footer>
</article>
{% webmentions_js %}
